/.vscode
Interface/venv/

Interface/__pycache__/

Interface/.idea/

Interface/app/__pycache__/

Interface/app/static/js/qbot-elm.js

Interface/app/static/js/quoridorAI.js

Rapport/Rapport.aux
Rapport/Rapport.log
Rapport/Rapport.out
Rapport/Rapport.pdf
Rapport/Rapport.synctex.gz
Rapport/Rapport.toc